* {
    font-family: 'Roboto', sans-serif;
}

body{
margin: 0;
}

/* Navigation Bar Style */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #EBF0F6;
    color: #364E68;
    height: 50px;
    padding: 8 12px;
}

footer .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_menu, .footer_menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    
    border-width: 2px;
    margin: 5px;
    padding: 8px 30px;
    font-size: 19px;
    
}

.navbar a:hover {
    color: #000000;
}


.navbar a {
    color: #000000;
    text-decoration: none;
}

.mobile-nav-icon {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    background-color: #EBF0F6;
    display: none;
}


/* Hambuger Menu */
@media (max-width: 960px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 5px 20px;
    }

    .navbar ul {
        flex-direction: column;
        margin-top: 20px;
    }

    .footer_menu {
        position: fixed;
        left: 40px;
        bottom: 0px;  
        margin-top: 20px;
        height: auto;
        padding: 20px;
        background-color: #364E68;        
    }

    .navbar li {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .navbar, footer .navbar{
        display: none;
    }

    .mobile-nav-icon {
        display: block;
    }

    .mobile-nav-icon:hover+.navbar {
        display: block;
    }

    .navbar:hover {
        display: block;
    }
}

/*search function*/
.search {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 1px;
    right: 5px;
    width: 300px;
}
  
input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}
  
.search_img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
}